In [4]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\gary\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\gary\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame()

for f in range(2014,2019):
    path = '15kV Utility Feeder Loading ' + str(f) + '.xlsx'
    print('Opening ',path)
    data = pd.read_excel(path,
                         parse_dates=['Time'],
                   )
    df = df.append(data)

df['Time'] = pd.to_datetime(df['Time'])
df.head()

Opening  15kV Utility Feeder Loading 2014.xlsx

C:\Users\Gary\AppData\Local\Temp\ipykernel_27892\2413836349.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

Opening  15kV Utility Feeder Loading 2015.xlsx

C:\Users\Gary\AppData\Local\Temp\ipykernel_27892\2413836349.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

Opening  15kV Utility Feeder Loading 2016.xlsx

C:\Users\Gary\AppData\Local\Temp\ipykernel_27892\2413836349.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

Opening  15kV Utility Feeder Loading 2017.xlsx

C:\Users\Gary\AppData\Local\Temp\ipykernel_27892\2413836349.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

Opening  15kV Utility Feeder Loading 2018.xlsx

C:\Users\Gary\AppData\Local\Temp\ipykernel_27892\2413836349.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

,Time,1,2,3,4,5,6,7,8,9,...,394,395,396,397,398,399,400,401,402,403
0,2014-01-01 01:00:00,120.571603,111.767169,94.704227,111.534600,112.324040,105.474302,116.819209,112.306686,94.855857,...,321.402590,21.135003,0.0,7.112277,0,0.0,0.0,0.0,0.0,0.0
1,2014-01-01 02:00:00,117.721674,109.209159,92.522162,108.762466,108.647752,102.547442,114.046784,109.675149,92.956992,...,311.390285,20.331148,0.0,7.041840,0,0.0,0.0,0.0,0.0,0.0
2,2014-01-01 03:00:00,115.322464,106.414135,91.410476,105.823125,107.199958,101.402505,111.645922,107.287682,91.244556,...,304.154413,20.136456,0.0,7.041840,0,0.0,0.0,0.0,0.0,0.0
3,2014-01-01 04:00:00,112.675883,104.583206,89.466250,102.997644,104.665578,99.789910,109.068352,105.225478,89.936689,...,307.382951,20.575986,0.0,7.041840,0,0.0,0.0,0.0,0.0,0.0
4,2014-01-01 05:00:00,112.616966,103.299966,88.066110,103.494967,103.621662,98.743733,107.872014,104.348570,92.098251,...,330.187506,21.801214,0.0,7.041840,0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.set_index('Time', inplace=True) #Set the index as time

In [9]:
#Get daily sum of load (unit : kA)
df.resample('D').sum().sum(axis=1)/1000

Time
2014-01-01     881.464236
2014-01-02    1029.014587
2014-01-03    1049.607203
2014-01-04    1020.774390
2014-01-05    1037.748444
                 ...
2018-12-27    1011.967883
2018-12-28    1010.097062
2018-12-29     933.023924
2018-12-30     941.562430
2018-12-31      38.073265
Freq: D, Length: 1826, dtype: float64

In [10]:
#Get monthly sum of load (unit : kA)
df.resample('M').sum().sum(axis=1)/1000

Time
2014-01-31    32024.644458
2014-02-28    29832.251921
2014-03-31    31569.457810
2014-04-30    28955.713692
2014-05-31    29707.872786
2014-06-30    29034.454139
2014-07-31    32516.213223
2014-08-31    31060.456845
2014-09-30    29831.127569
2014-10-31    30670.451967
2014-11-30    31835.113685
2014-12-31    32145.928386
2015-01-31    31547.037386
2015-02-28    28318.711859
2015-03-31    29860.559225
2015-04-30    28584.895934
2015-05-31    29788.168507
2015-06-30    31114.612365
2015-07-31    32726.849037
2015-08-31    31961.749822
2015-09-30    29804.268563
2015-10-31    31039.648434
2015-11-30    31409.895138
2015-12-31    32145.972893
2016-01-31    33051.978505
2016-02-29    30023.605010
2016-03-31    30808.479560
2016-04-30    29285.559386
2016-05-31    30426.071574
2016-06-30    30840.022868
2016-07-31    31098.830345
2016-08-31    31138.644023
2016-09-30    29463.152327
2016-10-31    30874.950975
2016-11-30    30847.690884
2016-12-31    33045.914735
2017-01-31    33013.905050
2017-02-28    29584.885007
2017-03-31    31898.139174
2017-04-30    29075.828357
2017-05-31    31143.839683
2017-06-30    30469.579539
2017-07-31    33165.961543
2017-08-31    31758.139787
2017-09-30    29792.988505
2017-10-31    30469.168513
2017-11-30    31189.673779
2017-12-31    31179.951043
2018-01-31    32955.614849
2018-02-28    30133.756861
2018-03-31    31497.895455
2018-04-30    29636.885548
2018-05-31    30862.092525
2018-06-30    29849.701914
2018-07-31    31721.143896
2018-08-31    31592.503649
2018-09-30    28741.960704
2018-10-31    30518.349395
2018-11-30    30222.459726
2018-12-31    30408.334778
Freq: M, dtype: float64

In [21]:
#Get hourly sum of load (unit : A)
output = df.sum(axis=1).reset_index(name='total-load')

In [23]:
output.to_csv('total_load.csv',index=False)